
/*.grid-boxes .col {padding: 128px 0 144px;}

@media only screen and (min-width: 1025px) and (max-width: 1500px) and (max-height: 900px){
.grid-boxes h2 {font-size: 70px;  line-height: 70px;  letter-spacing: -.06em;}

}


@media only screen and (min-width: 768px) and (max-width: 1169px){
.grid-boxes h2  {font-size: 45px; line-height: 36px; margin-bottom: 19px;  letter-spacing: -3.5px;}
.grid-boxes .col {padding: 60px 0 33px;}

}

@media only screen and (min-width: 120px) and (max-width: 767px){
.grid-boxes h2  {margin-bottom: 18px;  letter-spacing: -2px;  font-size: 30px;  line-height: 36px;}
.grid-boxes .col {padding: 61px 0 64px;}

}

*/